*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(img/background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}
a{
  text-decoration: none;
}


.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(img/background/BackgroundTopo.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}

.informacoes{
  width: 70vw;
  margin: 20px auto;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1px;
}
.dashboard{
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffffab;
  border-radius: 5px;
}
.nomeTopoDashboards{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}
.dashboardColuna{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nomeTopoDashboard{
  font-size: 25px;
  font-weight: bold;
  padding: 25px 0px 2px 20px;
}
.nomeDashboard{
  text-align: center;
  padding: 13px 0px 13px 30px;
}
.linkDashboard{
  color: #ffffff;
  background-color: #EF7D00;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 50px;
}
.linkDashboard:hover{
  background-color: #EA5A33;
}
.linkDashboard:active{
  font-weight: bolder;
}




@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}
