*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(Img/Background/Background_Main_Papel.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}
a{
  text-decoration: none;
}
hr{
  width: 85%;
  margin: 15px auto;
}


/* Scrollbars */
body::-webkit-scrollbar {
	width: 4px;
	overflow: visible;
	background: #ffffff;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background-color: #666666;
	-webkit-box-shadow: none;
	box-shadow: none;
  border-left: solid 1px #ffffff;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: #333333;
}


/* MAIN */

.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(Img/Background/Background_Header_Laranja_Claro_Escuro.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}

.informacoes{
  width: 70vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1px;
  background-color: #ffffff;  
}
.dashboard{
  padding: 20px 15px 50px 15px;
}
.nomeTopoDashboards{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}
.dashboardColuna{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.nomeTopoDashboard{
  font-size: 25px;
  font-weight: bold;
  padding: 25px 0px 2px 20px;
}
.divDash{
  margin: auto 0px;
}
.nomeDashboard{
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  background-color: #EF7D00;
  border-radius: 5px;
  width: 310px;
}
.nomeDashboard:hover{
  background-color: #EA5A33;
  font-weight: bolder;
}
.linkDashboard{
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  margin: auto;
}





@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 538px){
  .nomeDashboard{
    width: 100%;
  }
  .geral{
    width: 178px;
    margin: auto;
  }  
  .informacoes{
    width: 95vw;
  }
}
